<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Alkamous.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Alkamous.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>LocalHost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>DBMS</value>
            </setting>
            <setting name="Userid" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="IsLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>DefaultPath</value>
            </setting>
            <setting name="ConnectTimeout" serializeAs="String">
                <value>30</value>
            </setting>
        </Alkamous.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


	<connectionStrings>
        <!--For Test Only-->
		<add name="MySQLDB"
        connectionString="&#xA;          Server=18.197.88.72;              &#xA;		  Port=3306;                        &#xA;		  Database=alkamous_MYDBMSTEST;     &#xA;		  User Id=alkamous_alkamous;        &#xA;		  Password=fmV_v+5omZqV;            &#xA;		  Connection Timeout=60;            &#xA;		  Pooling=true;                     &#xA;		  Min Pool Size=0;                  &#xA;		  Max Pool Size=100;                &#xA;		  SslMode=None;                     &#xA;		  Charset=utf8;                     &#xA;		  Persist Security Info=True;       &#xA;		  Allow User Variables=True;        &#xA;		  Allow Zero Datetime=True;         &#xA;		  Convert Zero Datetime=True;       &#xA;		  Default Command Timeout=30;       &#xA;		  "

















  providerName="MySql.Data.MySqlClient"/>


		<!-- عنوان الخادم الذي يحتوي على قاعدة البيانات -->
		<!-- منفذ الاتصال بقاعدة البيانات (افتراضي لـ MySQL هو 3306) -->
		<!-- اسم قاعدة البيانات التي ترغب في الاتصال بها -->
		<!-- اسم المستخدم الذي سيتم استخدامه للاتصال بقاعدة البيانات -->
		<!-- كلمة المرور الخاصة بالمستخدم -->
		<!-- المهلة الزمنية للاتصال بقاعدة البيانات بـ 60 ثانية -->
		<!-- تمكين استخدام تجمع الاتصالات لتحسين الأداء -->
		<!-- الحد الأدنى لعدد الاتصالات في تجمع الاتصالات -->
		<!-- الحد الأقصى لعدد الاتصالات في تجمع الاتصالات -->
		<!-- وضع SSL (Secure Sockets Layer)، هنا تم تعطيله -->
		<!-- مجموعة الأحرف المستخدمة في الاتصال، هنا تم تعيينها إلى UTF-8 -->
		<!-- الاحتفاظ بمعلومات الأمان بعد إنشاء الاتصال -->
		<!-- السماح باستخدام المتغيرات المعرفة من قبل المستخدم في الاستعلامات -->
		<!-- السماح بالقيم الزمنية الصفرية (0000-00-00 00:00:00) -->
		<!-- تحويل القيم الزمنية الصفرية إلى `DateTime.MinValue` -->
		<!-- تعيين المهلة الزمنية الافتراضية للأوامر إلى 30 ثانية -->

	</connectionStrings>
	
	
	
</configuration>